@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-white text-zinc-900
         dark:bg-zinc-950 dark:text-zinc-100
         antialiased;
}